.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  