<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

<app-header></app-header>

<body>
  <main>
    <div class="page-title">Seu Carrinho</div>
    <div class="content">
      <section>
        <table>
          <thead>
            <tr>
              <th>Produto</th>
              <th>Preço</th>
              <th>Quantidade</th>
              <th>Total</th>
              <th>-</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems">
              <td>
                <div class="product">
                  <img [src]="item.images" alt="" style="width: 100px; height: 100px;" />
                  <div class="info">
                    <div class="name">{{ item.name }}</div>
                  </div>
                </div>
              </td>
              <td>{{ item.price | currency }}</td>
              <td>
                <div class="qty">
                  <button (click)="diminuirQuantidade(item)">
                    <i class="bi bi-dash"></i> <!-- Ícone de menos -->
                  </button>
                  <span>{{ item.quantity }}</span>
                  <button (click)="aumentarQuantidade(item)">
                    <i class="bi bi-plus"></i> <!-- Ícone de mais -->
                  </button>
                </div>
              </td>
              <td>{{ item.price * item.quantity | currency }}</td>
              <td>
                <button (click)="removerDoCarrinho(item)" class="btn-remove">
                  🗑️
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <aside>
        <div class="box">
          <header>Resumo da compra</header>
          <div class="info">
            <div><span>Sub-total</span><span>{{ subtotal | currency }}</span></div>
          </div>
        </div>
        <div class="box" *ngIf="!currentUser">
          <header>Adicionar Frete</header>
          <div class="info">
            <div class="frete">
              <label>
                <input type="radio" name="freteOption" value="34.18" (click)="selecionarFrete(34.18)"> Correios - SEDEX (R$34,18)
              </label>
              <br>
              <label>
                <input type="radio" name="freteOption" value="38.13" (click)="selecionarFrete(38.13)"> Correios - PAC (R$38,13)
              </label>
              <br>
              <label>
                <input type="radio" name="freteOption" value="20.15" (click)="selecionarFrete(20.15)"> JadLog (R$20,15)
              </label>
            </div>
          </div>
        </div>
        <!--Cliente logado-->
        <div class="box" *ngIf="currentUser">
          <header>Adicionar Frete</header>
          <div class="info">
            <div class="frete">
              <p>Logradouro: {{ defaultAddress.logradouro }}</p>
              <p>Bairro: {{ defaultAddress.bairro }}</p>
              <p>Cidade: {{ defaultAddress.cidade }}</p>
              <p>UF: {{ defaultAddress.uf }}</p>
              <div *ngIf="defaultFrete === false">
                <div class="frete">
                  <label>
                    <input type="radio" name="freteOption" (click)="selecionarFrete(this.opcoesFrete[0].valor)" required> Correios - SEDEX (R${{this.opcoesFrete[0].valor}})
                  </label>
                  <br>
                  <label>
                    <input type="radio" name="freteOption" (click)="selecionarFrete(this.opcoesFrete[1].valor)"> Correios - PAC (R${{this.opcoesFrete[1].valor}})
                  </label>
                  <br>
                  <label>
                    <input type="radio" name="freteOption" (click)="selecionarFrete(this.opcoesFrete[2].valor)"> JadLog (R${{this.opcoesFrete[2].valor}})
                  </label>
                </div>
              </div>
              <button (click)="openModal()">Selecionar outro endereço</button>
            </div>
          </div>
        </div>

        <button (click)="mostrarConsultaNovoFrete()">Calcular Novo Frete</button>

        <div class="box" *ngIf="mostrarNovoFrete">
          <header>Consultar Novo Frete</header>
          <div class="info">
            <div class="consultar-cep">
              <input type="text" placeholder="Digite seu CEP" [(ngModel)]="cep">
              <button (click)="CalcularFrete()">OK</button>
            </div>
            <div *ngIf="mostrarOpcoesFrete" class="box">
              <header>Opções de Frete</header>
              <div class="info">
                <div class="frete">
                  <p>Opções de frete disponíveis:</p>
                  <ul>
                    <li *ngFor="let opcao of opcoesFreteCEP">
                      {{ opcao.nome }} ({{ opcao.valor | currency }})
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        <footer>
          <div><span>Total da compra</span><span>{{ total | currency }}</span></div>
        </footer>
        <button (click)="finalizarPedido()">Finalizar Pedido</button>
        <!-- Adicione a div para a notificação -->
        <div *ngIf="showNotification" class="notification">
          Você deve se cadastrar para continuar!
        </div>
      </aside>
    </div>
  </main>
</body>
