<input type="file" #fileInput style="display: none" (change)="uploadFiles($event)" multiple>

<section id="gallery">
    <mat-toolbar color="primary">
        <span>Galeria de Imagens</span>
        <button mat-icon-button (click)="fileInput.click()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>
    <div *ngFor="let image of newProduct.images; let i = index">
        <div class="image-container">
            <img src="{{image}}" alt="product" style="width: 300px; height: 300px;" class="gallery-image">
            <div class="image-buttons">
                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="setImageDefault(image)" [ngClass]="{'selected': image === newProduct.image_default}">
                    <mat-icon>star</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>

