#gallery {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  background-color: #ffffff;
}
  
.image-container {
  width: 300px; 
  margin: 10px; 
  text-align: center; 
  display: flex;
  flex-direction: column; 
}
  
  .image-container img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px;
  }
  
  .image-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .selected mat-icon {
    color: yellow;
  }
  .transparent-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.spacer {
  flex: 1;
}
.mat-toolbar{
  display: flex;
  justify-content: space-between;
}
.input{
  display: flex;
}