<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header id="main-header" class="site-header">
  <section id="grid-menu">
    <div class="logo">
      <ng-container *ngIf="currentUser && currentUser.group === 'cliente'; else redirectToDashboard">
        <a [routerLink]="['/']" aria-label="Logo">
          <img src="./assets/fav.png">
        </a>
      </ng-container>
      <ng-template #redirectToDashboard>
        <a [routerLink]="['/dashboard']" aria-label="Logo">
          <img src="./assets/fav.png">
        </a>
      </ng-template>
      <h1>PETMATCH</h1>
      <div class="perfil">
        <ng-container *ngIf="currentUser; else showLoginButton" class="welcome-logout">
          <div class="content-perfil">
            <a aria-label="Logo">
              <img *ngIf="currentUser && currentUser.gender === 'Feminino'" src="assets/mulher.png">
              <img *ngIf="currentUser && currentUser.gender === 'Masculino'" src="assets/homem.png">
            </a>
            <div class="menu">
              <div class="info-menu">
                <span>{{currentUser.name}}</span>
              </div>
            <div class="menu-opcoes"> 
              <a routerLink="/client-logged">Minha Conta | </a>
              <a (click)="openConfirmationDialog()">sair</a>
            </div>
          </div>
          </div>
        </ng-container>
      </div>
      <div>
        <ng-template #showLoginButton>
          <div class="content-perfil menu-opcoes deslog"> 
            <a class="fa fa-user" id="userIcon"></a>
            <a routerLink="/login">Fazer login | </a>
            <a class="esp" routerLink="/sign-in-client">cadastre-se</a>
          </div>
        </ng-template>
      </div>
      <span class="fa fa-shopping-cart" id="cartIcon" (click)="goToShoppingCart()">
        <span class="cart-badge" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
      </span>
      <!--<span class="badge" id="cartItemCount">{{ cartItemCount }}</span>-->
    </div>
  </section>
</header>