<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header id="main-header" class="site-header">
  <section id="grid-menu">
    <div class="logo">
      <ng-container *ngIf="currentUser && currentUser.group === 'cliente'; else redirectToDashboard">
        <a [routerLink]="['/']" aria-label="Logo">
          <img src="./assets/pet.png">
        </a>
      </ng-container>
      <ng-template #redirectToDashboard>
        <a [routerLink]="['/dashboard']" aria-label="Logo">
          <img src="./assets/pet.png">
        </a>
      </ng-template>
      <h1>PETMATCH STORE</h1>
      <div class="perfil">
        <ng-container *ngIf="currentUser; else showLoginButton" class="welcome-logout">
          <button (click)="openConfirmationDialog()">Logout</button>
          <div class="content-perfil">
            <span>{{currentUser.name}}</span>
            <a [routerLink]="['/client-logged']" aria-label="Logo">
              <img src="assets/perfil.png">
            </a>
          </div>
        </ng-container>
      </div>
      <div>
        <ng-template #showLoginButton>
          <a routerLink="/login" class="teste">
            <img src="./assets/entre.png" aria-label="img-perfil">
          </a>
        </ng-template>
      </div>
      <span class="fa-stack fa-2x has-badge" id="cartIcon" (click)="goToShoppingCart()">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
      </span>
      <span class="badge" id="cartItemCount">{{ cartItemCount }}</span>
    </div>
  </section>
</header>