<section id="main-header" class="site-header">
    <section id="grid-menu">
      <div class="logo">
        <a routerLink="/" aria-label="Logo">
          <img src="./assets/pet.png" >
        </a>
        <h1>PETMATCH STORE</h1>
          <div class="login">
            <a routerLink="/login" class="teste">
              <img src="./assets/entre.png" aria-label="img-perfil"> 
            </a>
            <a class="teste carrinho" 
             routerLink="/">
                <img src="./assets/carrinho-de-compras.png" aria-label="img-perfil"> 
            </a>
        </div>
      </div>
    </section>
</section>
  