<section id="product-preview">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="closeModal()" class="transparent-button">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Preview de produtos</span>
  </mat-toolbar>
  <div class="product-info" *ngIf="product">
    <h2>{{ product.name }}</h2>
    <div class="info-content">
      <div class="image-container">
        <app-carrossel [imagens]="product.images ? product.images : []"></app-carrossel>
      </div>
      <div class="info">
        <p>Avaliação: {{ getStarRating() }}</p>
        <p>Preço: {{ product.price | currency:'BRL' }}</p>
        <p>Quantidade disponível: {{ product.quantity }}</p>
        <button mat-button disabled>Comprar</button>
      </div>
    </div>
  </div>
</section>