<app-header></app-header>

<div class="container-content">
  <div class="login-title">
    <span>Cadastre-se</span>
  </div>
  <div class="sign-in-description">
    <span>
     Já possui uma conta? <a class="sign-in" routerLink="/login">faça seu login</a>
    </span>
  </div>
  <form class="example-form" (ngSubmit)="onSubmit()">

    <mat-form-field class="name-form" appearance="fill">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="userParams.name" name="name" matInput>
    </mat-form-field>

    <mat-form-field class="email-form" appearance="fill" *ngIf="!isUpdating">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="userParams.email" name="email" matInput>
    </mat-form-field>

    <mat-form-field class="cpf-form" appearance="fill">
      <mat-label>CPF</mat-label>
      <input [(ngModel)]="userParams.cpf" name="cpf" matInput>
    </mat-form-field>

    <mat-form-field class="birth-date-form" appearance="fill">
      <mat-label>Data de Nascimento</mat-label>
      <input [(ngModel)]="userParams.birth_date" name="birthDate" matInput type="date">
  </mat-form-field>

  <mat-form-field class="gender-form" appearance="fill">
      <mat-label>Gênero</mat-label>
      <input [(ngModel)]="userParams.gender" name="gender" matInput>
  </mat-form-field>

  <mat-form-field class="password-form" appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input [(ngModel)]="userParams.password" name="password" matInput [type]="hide ? 'password' : 'text'">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="password-form" appearance="fill">
    <mat-label>Confirm your password</mat-label>
    <input [(ngModel)]="userParams.confirmPassword" name="password" matInput [type]="hide ? 'password' : 'text'" (input)="changeConfirm($event)">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

   <!-- AQUI COMEÇA O ENDERECO DE FATURAMENTO -->

  <div class="billing-address" *ngIf="userParams.billing_address">
    <h3>Endereço de Faturamento</h3>
    <mat-form-field appearance="fill">
      <mat-label>CEP</mat-label>
      <input [(ngModel)]="userParams.billing_address.cep" name="deliveryCep" matInput #cepInput>
  </mat-form-field>
  
  <button mat-button type="button" (click)="consultaCep(cepInput)">Consultar CEP</button>

    <mat-form-field appearance="fill">
        <mat-label>Logradouro</mat-label>
        <input [(ngModel)]="userParams.billing_address.logradouro" name="deliveryLogradouro" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Número</mat-label>
        <input [(ngModel)]="userParams.billing_address.numero" name="deliveryNumero" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Complemento</mat-label>
        <input [(ngModel)]="userParams.billing_address.complemento" name="deliveryComplemento" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Bairro</mat-label>
        <input [(ngModel)]="userParams.billing_address.bairro" name="deliveryBairro" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Cidade</mat-label>
        <input [(ngModel)]="userParams.billing_address.cidade" name="deliveryCidade" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>UF</mat-label>
        <input [(ngModel)]="userParams.billing_address.uf" name="deliveryUf" matInput>
    </mat-form-field>
  </div>

    <mat-checkbox name="useSameAddress" [(ngModel)]="useSameAddress" (change)="toggleUseSameAddress()">Usar mesmo endereço de faturamento para entrega</mat-checkbox>

     <!-- AQUI COMEÇA O ENDERECO DE ENTREGA -->
    <ng-container *ngIf="!(useSameAddress)">
      <div class="delivery-address" *ngFor="let address of userParams.delivery_address; let i = index">
        <h3>Endereços de Entrega</h3>
        <mat-form-field appearance="fill">
            <mat-label>CEP</mat-label>
            <input [(ngModel)]="address.cep" name="deliveryCep" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Logradouro</mat-label>
            <input [(ngModel)]="address.logradouro" name="deliveryLogradouro" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Número</mat-label>
            <input [(ngModel)]="address.numero" name="deliveryNumero" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Complemento</mat-label>
            <input [(ngModel)]="address.complemento" name="deliveryComplemento" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Bairro</mat-label>
            <input [(ngModel)]="address.bairro" name="deliveryBairro" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Cidade</mat-label>
            <input [(ngModel)]="address.cidade" name="deliveryCidade" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>UF</mat-label>
            <input [(ngModel)]="address.uf" name="deliveryUf" matInput>
        </mat-form-field>

        <button type="button" (click)="removeAddress(i)">Remover Endereço</button>
      </div>
    </ng-container>

  <button *ngIf="!(useSameAddress)" type="button" (click)="addAddress()">Adicionar Endereço</button>

    <div class="login-button">
      <button type="submit">{{ isUpdating ? 'Update' : 'Sign up' }}</button>
      <div class="spinner">
        <mat-spinner [diameter]="50" *ngIf="showLoading"></mat-spinner>
      </div>
    </div>
  </form>
</div>
