.container-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinhar os itens ao topo */
  background-color: #f9f9f9; /* Fundo cinza claro */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  margin-top: 20vh;
  padding: 20px; /* Adicionar preenchimento interno */
}

/* Estilo para a coluna da esquerda */
.form-left {
  flex: 1;
  padding-right: 20px;
}

/* Estilo para a coluna da direita */
.form-right {
  flex: 1;
  padding-left: 20px;
  display: flex; /* Usar flexbox para alinhar o botão ao centro */
  flex-direction: column; /* Alinhar os itens verticalmente */
  justify-content: space-between;
}

/* Estilo para o título "Cadastre-se" */
.login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Cor do texto mais escuro */
}

/* Estilo para os campos do formulário */
mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

/* Estilo para o botão de consulta de CEP */
button.mat-button {
  margin-top: 10px;
  background-color: #007bff; /* Cor azul */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave */
}

button.mat-button:hover {
  background-color: #0056b3; /* Cor azul mais escura ao passar o mouse */
}

/* Estilo para o botão "Adicionar Endereço" */
button.mat-button[type="button"] {
  background-color: #28a745; /* Cor verde */
}

/* Estilo para o botão de remover endereço */
button.mat-button[type="button"].remove-address {
  background-color: #dc3545; /* Cor vermelha */
}

/* Estilo para o botão de submit */
.login-button button[type="submit"] {
  background-color: #007bff; /* Cor azul */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave */
  margin-top: auto; /* Mover o botão para o final da coluna */
  align-self: flex-end; /* Alinhar o botão à extremidade inferior */
}

.login-button button[type="submit"]:hover {
  background-color: #0056b3; /* Cor azul mais escura ao passar o mouse */
}

/* Estilo para o checkbox "Usar mesmo endereço de faturamento para entrega" */
mat-checkbox {
  margin-bottom: 20px;
  color: #333; /* Cor do texto mais escuro */
}

/* Estilo para os campos de endereço */
.delivery-address {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff; /* Fundo branco */
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.delivery-address h3 {
  margin-top: 0;
  color: #333; /* Cor do texto mais escuro */
}

/* Estilo para o link de remover endereço */
.delivery-address button[type="button"] {
  margin-top: 10px;
  color: #dc3545; /* Cor vermelha */
}

/* Estilo para o spinner */
.spinner {
  text-align: center;
  margin-top: 20px;
}
