<app-header></app-header>

<div class="container-title">
  <img src="assets/icon-perf.png">
  <h1>Meus dados</h1>
</div>
<div class="container">
  <div class="perfil">
    <img src="assets/editar.png">
    <h1>Dados básicos</h1>
     <!-- Painel de Dados Pessoais -->
    <div class="painel-dados">
      <mat-expansion-panel  [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dados pessoais
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="currentUser.name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data de nascimento: </mat-label>
          <input matInput type="date" [(ngModel)]="currentUser.birth_date">
        </mat-form-field>
        <mat-form-field>
          <mat-label>CPF: </mat-label>
          <input matInput [(ngModel)]="currentUser.cpf" readonly class="mat-input-disabled">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Gênero: </mat-label>
          <input matInput [(ngModel)]="currentUser.gender">
        </mat-form-field>
        <mat-form-field>
          <mat-label>E-mail: </mat-label>
          <input matInput [(ngModel)]="currentUser.email" readonly class="mat-input-disabled">
        </mat-form-field>
      </mat-expansion-panel>
    </div>
  </div>
  <div class="container2">
    <div class="painel-enderecos">
      <img src="assets/pin.png">
      <h1>Endereços</h1>
    <mat-accordion class="example-headers-align" multi>
      <!-- Painel de Endereço de Faturamento -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Endereço de Faturamento
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="!editBillingMode; else editBillingModeTemplate">
          <!-- Campos de visualização do endereço de faturamento -->
          <!-- Exibir os detalhes do endereço -->
          <p>CEP: {{ currentUser.billing_address.cep }}</p>
          <p>Logradouro: {{ currentUser.billing_address.logradouro }}</p>
          <p>Bairro: {{ currentUser.billing_address.bairro }}</p>
          <p>Cidade: {{ currentUser.billing_address.cidade }}</p>
          <p>UF: {{ currentUser.billing_address.uf }}</p>
          <p>Número: {{ currentUser.billing_address.numero }}</p>
          <p>Complemento: {{ currentUser.billing_address.complemento }}</p>
        </div>
        <ng-template #editBillingModeTemplate>
          <!-- Campos de edição do endereço de faturamento -->
          <mat-form-field>
            <mat-label>CEP </mat-label>
            <input matInput [(ngModel)]="currentUser.billing_address.cep" placeholder="CEP">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Logradouro </mat-label>
            <input matInput [(ngModel)]="currentUser.billing_address.logradouro" placeholder="logradouro">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Bairro </mat-label>
            <input matInput [(ngModel)]="currentUser.billing_address.bairro" placeholder="bairro">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cidade </mat-label>
            <input matInput [(ngModel)]="currentUser.billing_address.cidade" placeholder="cidade">
          </mat-form-field>
          <mat-form-field>
            <mat-label>UF </mat-label>
            <input matInput [(ngModel)]="currentUser.billing_address.uf" placeholder="uf">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Número </mat-label>
            <input matInput [(ngModel)]="currentUser.billing_address.numero" placeholder="numero">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Complemento </mat-label>
            <input matInput [(ngModel)]="currentUser.billing_address.complemento" placeholder="complemento">
          </mat-form-field>
          <!-- Botão para salvar as alterações -->
          <button mat-raised-button color="primary" (click)="toggleEditBillingAddress()">Salvar</button>
        </ng-template>
        <button mat-icon-button *ngIf="!editBillingMode" (click)="toggleEditBillingAddress()">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-expansion-panel>
   


      <!-- Painel de Endereços de Entrega -->
      <div *ngFor="let address of currentUser.delivery_address; let i = index">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Endereço de Entrega
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Conteúdo do painel -->
          <div *ngIf="!address.editMode; else editDeliveryModeTemplate">
            <!-- Campos de visualização do endereço de entrega -->
            <!-- Exibir os detalhes do endereço -->
            <p>CEP: {{ address.cep }}</p>
            <p>Logradouro: {{ address.logradouro }}</p>
            <p>Bairro: {{ address.bairro }}</p>
            <p>Cidade: {{ address.cidade }}</p>
            <p>UF: {{ address.uf }}</p>
            <p>Número: {{ address.numero }}</p>
            <p>Complemento: {{ address.complemento }}</p>
          </div>
          <!-- Template para o modo de edição -->
          <ng-template #editDeliveryModeTemplate>
            <!-- Campos de edição do endereço de entrega -->
            <mat-form-field>
              <mat-label>CEP </mat-label>
              <input matInput [(ngModel)]="address.cep" placeholder="CEP">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Logradouro </mat-label>
              <input matInput [(ngModel)]="address.logradouro" placeholder="logradouro">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Bairro </mat-label>
              <input matInput [(ngModel)]="address.bairro" placeholder="bairro">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Cidade </mat-label>
              <input matInput [(ngModel)]="address.cidade" placeholder="cidade">
            </mat-form-field>
            <mat-form-field>
              <mat-label>UF </mat-label>
              <input matInput [(ngModel)]="address.uf" placeholder="uf">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Número </mat-label>
              <input matInput [(ngModel)]="address.numero" placeholder="numero">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Complemento </mat-label>
              <input matInput [(ngModel)]="address.complemento" placeholder="complemento">
            </mat-form-field>
          </ng-template>
          <!-- Botão de edição -->
          <ng-container *ngIf="!address.isDefault && !address.editMode">
            <button mat-icon-button (click)="toggleEditDeliveryAddress(address)">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-container>
          <!-- Botão para salvar as alterações -->
          <button mat-raised-button color="primary" *ngIf="address.editMode"
            (click)="toggleEditDeliveryAddress(address)">Salvar</button>
          <!-- Botões de exclusão e definir como padrão -->
          <ng-container *ngIf="!address.isDefault">
            <button mat-icon-button (click)="deleteDeliveryAddress(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="!address.isDefault && !address.editMode">
            <button mat-icon-button (click)="setAsDefaultDeliveryAddress(address)">
              <mat-icon>star_border</mat-icon>
            </button>
          </ng-container>
          <span *ngIf="address.isDefault">(ENDEREÇO PADRÃO)</span>
        </mat-expansion-panel>
      </div>
      <!-- Botão para adicionar novo endereço de entrega -->
      <button mat-raised-button color="primary" (click)="addNewDeliveryAddress()">Adicionar Endereço de Entrega</button>
    </mat-accordion>
    </div>
    <div class="buttons">
      <button (click)="onSubmit()">Salvar alterações</button>
      <button mat-raised-button color="primary" (click)="addNewDeliveryAddress()">Adicionar Endereço de Entrega</button>
    </div>
  </div>
</div>