@import '../../../assets/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container-title {
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    padding: 30px;
    align-items: center;

    h1 {
        text-align: center;
        font-weight: 500;
        color: $light;
    }
}

.container {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $light;
    border-radius: 20px;

    .perfil {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px;
        flex-direction: column;
        padding-top: 50px;
        border-right: 2px solid rgb(141, 136, 136);
        height: 100%;

        img {
            width: 50px;
            height: auto;
        }

        h1 {
            margin-left: 10px;
            font-weight: 500;
        }
    }

    .container2 {
        width: 50%;

        .painel-enderecos {
            display: flex;
            align-items: center;
            padding: 10px;
            flex-direction: column;
            padding-top: 50px;
        }

        h1 {
            font-weight: 500;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            padding: 30px;

            button {
                background-color: rgb(247, 203, 7);
                padding: 10px;
                border-radius: 10px;
                font-weight: bold !important;
                width: 250px;
                margin-right: 10px;
            }
        }

        ::ng-deep {
            mat-accordion {
                mat-expansion-panel {
                    .mat-expansion-panel-content{
                        .mat-expansion-panel-body{
                            mat-form-field{
                                margin-right: 30px !important;
                            }
                        }
                    }
                    mat-expansion-panel-header {
                        span {
                            button {
                                width: 30px;
                                height: 30px;
                                border-radius: 50px;
                                margin-right: 10px !important;
                                align-items: center;
                                display: flex;
                                background-color: $secondary;
                                border-color: $secondary;
                            
                                mat-icon{
                                    width: 10px;
                                    height: 10px;
                                    padding: 5px;
                                    font-size: 18px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: $light;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .mat-input-disabled {
        color: #555;
        /* Cor do texto mais escura para indicar que é somente leitura */
        background-color: transparent;
        /* Cor de fundo mais clara para indicar que não pode ser editado */
        cursor: not-allowed;
        /* Cursor indicando que não pode ser editado */
    }

}
