<app-header></app-header>

<div class="container">
    <div class="perfil">
        <mat-card>
            <mat-card-header>
                <img src="assets/perfil2.png">
            </mat-card-header>
            <mat-card-content>
                <h1>Nome: </h1>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="container2">
          <mat-accordion class="example-headers-align" multi> 
            <mat-expansion-panel> 
              <mat-expansion-panel-header> 
                <mat-panel-title>
                  Dados pessoais
                </mat-panel-title> 
              </mat-expansion-panel-header>
              <mat-form-field> 
                <mat-label>Nome</mat-label> 
                <input matInput> 
              </mat-form-field>
              <mat-form-field> 
                <mat-label>Data de nascimento: </mat-label> 
                <input matInput type="number" min="1"> 
              </mat-form-field>
              <mat-form-field> 
                <mat-label>CPF: </mat-label> 
                <input matInput type="number" min="1"> 
              </mat-form-field>
              <mat-form-field> 
                <mat-label>Gênero: </mat-label> 
                <input matInput> 
              </mat-form-field>
              <mat-form-field> 
                <mat-label>E-mail: </mat-label> 
                <input matInput> 
              </mat-form-field>
            </mat-expansion-panel> 
            <mat-expansion-panel> 
              <mat-expansion-panel-header> 
                <mat-panel-title>
                  Meus Endereços
                </mat-panel-title> 
              </mat-expansion-panel-header>
              <mat-expansion-panel-header> 
                <mat-panel-title>
                    Endereço de entrega
                </mat-panel-title> 
            </mat-expansion-panel-header>
                <mat-form-field> 
                    <mat-label>CEP </mat-label> 
                    <input matInput> 
                </mat-form-field>
                <mat-form-field> 
                    <mat-label>Logradouro </mat-label> 
                    <input matInput> 
                </mat-form-field>
                <mat-form-field> 
                    <mat-label>Bairro </mat-label> 
                    <input matInput> 
                </mat-form-field>
                <mat-form-field> 
                    <mat-label>Cidade </mat-label> 
                    <input matInput> 
                </mat-form-field>
                <mat-form-field> 
                    <mat-label>UF </mat-label> 
                    <input matInput> 
                </mat-form-field>
                <mat-form-field> 
                    <mat-label>Número </mat-label> 
                    <input matInput> 
                </mat-form-field>
                <mat-form-field> 
                    <mat-label>Complemento </mat-label> 
                    <input matInput> 
                </mat-form-field>
                <mat-expansion-panel> 
                <mat-expansion-panel-header> 
                    <mat-panel-title>
                        Endereço de Faturamento
                    </mat-panel-title> 
                </mat-expansion-panel-header>
                    <mat-form-field> 
                        <mat-label>CEP </mat-label> 
                        <input matInput> 
                    </mat-form-field>
                    <mat-form-field> 
                        <mat-label>Logradouro </mat-label> 
                        <input matInput> 
                    </mat-form-field>
                    <mat-form-field> 
                        <mat-label>Bairro </mat-label> 
                        <input matInput> 
                    </mat-form-field>
                    <mat-form-field> 
                        <mat-label>Cidade </mat-label> 
                        <input matInput> 
                    </mat-form-field>
                    <mat-form-field> 
                        <mat-label>UF </mat-label> 
                        <input matInput> 
                    </mat-form-field>
                    <mat-form-field> 
                        <mat-label>Número </mat-label> 
                        <input matInput> 
                    </mat-form-field>
                    <mat-form-field> 
                        <mat-label>Complemento </mat-label> 
                        <input matInput> 
                    </mat-form-field>
            </mat-expansion-panel> 
            </mat-expansion-panel>
          </mat-accordion>
    </div>
</div>