<app-header></app-header>

<body>
    <section class="payment-section">
        <div class="container">
            <div class="payment-wrapper">
                <div class="payment-left">
                    <div class="payment-header">
                        <div class="payment-header-icon"><i class="ri-flashlight-fill"></i></div>
                        <div class="payment-header-title">Resumo do Pedido</div>
                    </div>
                    <div class="payment-content">
                        <div class="payment-body">
                            <div *ngFor="let item of order.cartItems" class="payment-item">
                                <div class="payment-item-info">
                                    <div class="payment-item-name">{{ item.name }}</div>
                                    <div class="payment-item-quantity">Quantidade: {{ item.quantity }}</div>
                                </div>
                                <div class="payment-item-total">Total: {{ item.price * item.quantity | currency }}</div>
                            </div>
                            <div class="payment-summary">
                                <div class="payment-summary-item">
                                    <div class="payment-summary-name">Subtotal</div>
                                    <div class="payment-summary-price">{{ order.subtotal | currency }}</div>
                                </div>
                                <div class="payment-summary-item">
                                    <div class="payment-summary-name">Frete</div>
                                    <div class="payment-summary-price">{{ order.freteSelecionado }}</div>
                                </div>
                                <div class="payment-summary-divider"></div>
                                <div class="payment-summary-item payment-summary-total">
                                    <div class="payment-summary-name">Total</div>
                                    <div class="payment-summary-price">{{ order.total | currency }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="payment-right">
                    <form action="" class="payment-form">
                        <h1 class="payment-title">Payment Details</h1>
                        <div class="payment-method">
                            <input type="radio" name="payment-method" id="method-1" (click)="isBolet(false)" checked>
                            <label for="method-1" class="payment-method-item">
                                <img src="./assets/mastercard.png" alt="">
                            </label>
                            <input type="radio" name="payment-method" id="method-2" (click)="isBolet(false)">
                            <label for="method-2" class="payment-method-item">
                                <img src="./assets/visa.png" alt="">
                            </label>
                            <input type="radio" name="payment-method" id="method-3" (click)="isBolet(true)">
                            <label for="method-3" class="payment-method-item">
                                <img src="./assets/boleto-simbolo.png" alt="">
                            </label>
                        </div>
                        <div class="payment-form-group">
                            <input type="text" placeholder=" " class="payment-form-control" id="name" required>
                            <label for="name" class="payment-form-label payment-form-label-required">Name</label>
                        </div>
                        <div class="payment-form-group" *ngIf="order.is_bolet">
                            <input type="email" placeholder=" " class="payment-form-control" id="email" required>
                            <label for="email" class="payment-form-label payment-form-label-required">Email</label>
                        </div>
                        <div class="payment-form-group" *ngIf="!order.is_bolet">
                            <input type="text" placeholder=" " class="payment-form-control" id="card-number" required>
                            <label for="card-number" class="payment-form-label payment-form-label-required">Card
                                Number</label>
                        </div>
                        <div class="payment-form-group-flex" *ngIf="!order.is_bolet">
                            <div class="payment-form-group">
                                <input type="date" placeholder=" " class="payment-form-control" id="expiry-date" required>
                                <label for="expiry-date" class="payment-form-label payment-form-label-required">Expiry
                                    Date</label>
                            </div>
                            <div class="payment-form-group">
                                <input type="text" placeholder=" " class="payment-form-control" id="cvv" required>
                                <label for="cvv" class="payment-form-label payment-form-label-required">CVV</label>
                            </div>
                            <div class="payment-form-group">
                                <label for="installments">Número de Parcelas</label>
                                <select id="installments" name="installments" [(ngModel)]="order.installments"
                                    class="form-control" required (change)="calculateInstallmentValue()">
                                    <option value="1">1x de R${{ (order.total/1).toFixed(2) }}</option>
                                    <option value="2">2x de R${{ (order.total/2).toFixed(2) }}</option>
                                    <option value="3">3x de R${{ (order.total/3).toFixed(2) }}</option>
                                    <option value="4">4x de R${{ (order.total/4).toFixed(2) }}</option>
                                    <option value="5">5x de R${{ (order.total/5).toFixed(2) }}</option>
                                </select>
                            </div>
                        </div>
                        <button (click)="finalizarPedido1()">Finalizar Pedido</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>