<div class="modal fade" id="enderecoModal" tabindex="-1" aria-labelledby="enderecoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enderecoModalLabel">Seus Endereços</h5>
        <button mat-icon-button (click)="closeModal()" class="close-button">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <!-- Conteúdo do modal -->
        <div *ngFor="let endereco of currentUser.delivery_address" class="endereco-box">
          <ng-container *ngIf="endereco.active" class="endereco-box">
            {{ endereco.logradouro }}, {{ endereco.numero }} - {{ endereco.bairro }}, {{ endereco.cidade }} - {{ endereco.uf }}
            <button (click)="selecionarEndereco(endereco)">Selecionar</button>
          </ng-container>
        </div>

        <!-- Novo endereço -->
        <div *ngIf="newDeliveryAddress" class="endereco-box">
          <mat-form-field>
            <mat-label>CEP</mat-label>
            <input matInput [(ngModel)]="newDeliveryAddress.cep" placeholder="CEP">
          </mat-form-field>
          <button mat-icon-button (click)="consultaCepEntrega(newDeliveryAddress.cep)">
            <mat-icon>search</mat-icon>
          </button>
          <mat-form-field>
            <mat-label>Logradouro </mat-label>
            <input matInput [(ngModel)]="newDeliveryAddress.logradouro" placeholder="logradouro">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Bairro </mat-label>
            <input matInput [(ngModel)]="newDeliveryAddress.bairro" placeholder="bairro">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cidade </mat-label>
            <input matInput [(ngModel)]="newDeliveryAddress.cidade" placeholder="cidade">
          </mat-form-field>
          <mat-form-field>
            <mat-label>UF </mat-label>
            <input matInput [(ngModel)]="newDeliveryAddress.uf" placeholder="uf">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Número </mat-label>
            <input matInput [(ngModel)]="newDeliveryAddress.numero" placeholder="numero">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Complemento </mat-label>
            <input matInput [(ngModel)]="newDeliveryAddress.complemento" placeholder="complemento">
          </mat-form-field>
          <!-- Adicione outros campos aqui -->
          <button mat-raised-button color="primary" (click)="saveNewDeliveryAddress()">Salvar</button>
        </div>

        <!-- Botão para adicionar novo endereço -->
        <button mat-raised-button color="primary" (click)="addNewDeliveryAddress()">Adicionar Novo Endereço</button>
      </div>
    </div>
  </div>
</div>
