.meus-pedidos {
  margin-top: 16vh;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.titulo {
  color: #333;
}

.pedido {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.pedido-info {
  margin: 5px 0;
}

.nenhum-pedido {
  color: #900;
  font-style: italic;
}
