@import '../../../assets/styles/variables.scss';


.item {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    transition: all 0.5s ease-in-out;
    border-radius: 30px;
  }
  
  .botoes-controle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
  }
  
  .botoes-controle button {
    background: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    width: 12px;
    display: flex;
  }
  
  .botoes-controle button.ativo {
    background: $primary;
    cursor: default;
  }