@import '../../../assets/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container-content {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow-y: hidden;

  .box {
    box-shadow: 0 4px 8px 0 #48c3c5, 0 6px 20px 0 rgba(72, 195, 197, 0.19);
    width: 50%;
    margin-top: 3vh;
    border-radius: 20px;
    background-color: $terciary;

    .login-title {
      font-family: Montserrat;
      font-weight: 900;
      color: $primary;
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      padding-top: 50px;
      align-content: center;
      justify-content: center;
    }

    .sign-in-description {
      margin: 40px 0px 60px 0px;
      font-size: 20px;
      text-align: center;
      color: $light;

      .cad {
        color: $primary;
      }

      .sign-in {
        cursor: pointer;
        color: #26648E;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    mat-form-field {
      border-radius: 10px;
      min-width: 380px;
      padding: 0 10px; 
      box-shadow: 0 4px 8px 0 #48c3c5, 0 6px 20px 0 rgba(72, 195, 197, 0.19);

      ::ng-deep{
        .mat-form-field-underline{
          display: none;
        }
        .mat-form-field-flex{
          background-color: $terciary;
        }
        .mat-form-field-infix{
          padding: 0 !important;
          
        }
      }
      mat-label {
        color: $primary;
      }

      input {
        color: #333;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-text-fill-color: #333 !important;
      }

      .mat-form-field-label-wrapper {
        background-color: $primary;
        color: #666;
      }

      button {
        border: none;
        background-color: white;
        mat-icon {
          color: #666;
          font-size: 24px;
        }
      }
    }

    .password-form {
      margin: 35px 0px 25px 0px;
    }

    section {
      display: table;
    }

    .login-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;

      button {
        height: 60px;
        font-size: 20px;
        color: $light;
        cursor: pointer;
        min-width: 200px;
        margin-bottom: 40px;
        background-color: $primary;
        border-radius: 20px;
        border-color: transparent;
      }
    }

    .spinner {
      display: flex;
      justify-content: center;
    }
  }

  .content-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 999;
    margin-top: -70px;
    .img {
      max-width: 450px;
      height: auto;
    }
  }
}

::ng-deep {
  .cdk-overlay-pane {
    width: 40% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  mat-dialog-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
