@import '../../../assets/styles/variables.scss';

.main {
    margin-top: 17vh !important;
    background-color: #f8f9fa !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #48c3c5;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

h4 {
    color: white;
}

.card {
    border: none !important;
    border-radius: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
  border: none;
  padding: 15px;
  vertical-align: middle;
  color: #333;
}

.table thead th {
  border-top: none !important;
  border-bottom: 2px solid #dee2e6;
  background-color: #f1f1f1;
  font-weight: bold;
}

.border-right {
    border-right: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.search-icon {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #48c3c5;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-light {
    background-color: white;
    color: #48c3c5; 
    border: 1px solid #48c3c5; 
}

.btn-light:hover {
    background-color: #48c3c5;
    color: white;
}

.form-control {
    border-radius: 5px;
}

.btn-outline-warning, .btn-outline-info {
    border: 1px solid #48c3c5;
}

.btn-outline-warning:hover, .btn-outline-info:hover {
    background-color: #48c3c5;
    color: white;
}

.form-check-input:checked {
    background-color: #48c3c5; 
    border-color: #48c3c5; 
}

.botao {
  margin-top: 20px;
  background-color: #48c3c5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.botao:hover {
  background-color: #399a99;
}

.btn-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  color: #fff;
}

.btn-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #fff;
}
