@import '../../../assets/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


#product-list {
    margin-top: 20vh;
    background-color: $footer;
  }
  
  .product-card {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    align-items: center;
    justify-content: center;
    column-gap: 20px; /* Espaço entre as colunas */
    row-gap: 20px; /* Espaço entre as linhas */
   }
  
  ::ng-deep{
  mat-card {
    max-width: 350px;
    min-height: 15vh !important;
    background-color:#A9A9A9!important;
    box-shadow:  rgb(0, 0, 0) 0px 10px 36px !important;
    border-radius:30px !important ;
  
    mat-card-header, mat-card-content{
      width:100%;
      min-height: 180px;
    }

    mat-card-header{
      background-color: $light;
      border-radius: 20px;
      img{
        width: 100%;
        max-width: 230px;
        max-height: 200px;
        object-fit: contain;
        align-items: center;
        justify-content: center;
      }
    }

    mat-card-content{
      align-items: center;
      justify-content: center;
      width: 100% !important;
      height: 200px !important;
      margin-bottom: 30px;

      .title{
        text-align: center;
        font-family: Montserrat;
        //height: 60px;
        font-size: 18px;

      }
      .desc{
        text-align: justify;
      }
      .price{
        font-weight: bold;
        color: $dark !important;
        font-size: 18px;
      }
      ::ng-deep{
      mat-card-footer{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
        padding: 8px;
      }
      mat-card-footer, a{
          //width: 300px !important;
          display: flex;
          text-align: center;
          text-decoration: none;
          height: 30px;
          background-color: $primary;
          color: $dark;
          border-radius: 5px;
      }
    }
    }
  }
   
    
}
  