@import '../../../assets/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


#product-list {
    margin-top: 25vh;
    background-color: #ececec;
    position: relative;
    padding-bottom: 60px;
  }

  .botao.ver-mais {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: $primary;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .botao.ver-mais:hover {
    background-color: #0056b3;
  }
  
  .product-card {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px; 
   }
  
  ::ng-deep{
  mat-card {
    max-width: 350px;
    min-height: 15vh !important;
    background-color:#DCEAEE!important;
    box-shadow: 0 4px 8px 0 #48c3c5, 0 6px 20px 0 rgba(72, 195, 197, 0.19) !important;
    border-radius:30px !important ;
  
    mat-card-header, mat-card-content{
      width:100%;
      min-height: 180px;
    }

    mat-card-header{
      background-color: $light;
      border-radius: 20px;
      img{
        width: 100%;
        max-width: 230px;
        max-height: 200px;
        object-fit: contain;
        align-items: center;
        justify-content: center;
      }
    }

    mat-card-content{
      align-items: center;
      justify-content: center;
      width: 100% !important;
      height: 200px !important;
      margin-bottom: 30px;

      .title{
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;

      }
      .desc{
        text-align: justify;
      }
      .price{
        font-weight: bold;
        color: $dark !important;
        font-size: 18px;
      }
      ::ng-deep{
      mat-card-footer{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
        padding: 8px;
        margin-top: 30px;
      }
      mat-card-footer, a{
          text-align: center;
          text-decoration: none;
          font-weight: bold;
          background-color: $primary;
          color: $light;
          border-radius: 5px;
      }
    }
    }
  }
   
    
}
  