@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#details {
    margin-top: 20vh;
    .details-products {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        padding: 40px;

        ::ng-deep{
            .gallery{
                margin-top: 10vh;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                width: 20%;
                button{
                    background-color: transparent;
                    margin-bottom: 10px;
                }
                img{
                    width: 150px !important;
                    height: 150px !important;
                    margin-bottom: 10px;    
                }
                margin-right: 10px;
        
            }
        }

        app-carrossel{
            width: 40% !important;
            margin-top: 10vh;
            ::ng-deep{
            .item{
                width: 450px !important;
                max-height: 450px !important;
                img{
                    max-width: 450px !important;
                    height: 450px !important;
                    border-radius: 20px !important;
                    object-fit: contain !important;
                }
            }
            }
        }
        .detalhes{
            width: 40% !important;
            padding: 40px;
            box-shadow:  rgb(0, 0, 0) 0px 10px 36px !important;
        }
    }
}



.details-products h2 {
    font-size: 28px; 
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.details-products p {
    font-size: 18px; 
    margin-top: 10px;
    font-family: 'Roboto', sans-serif; 
    color: #ffffff;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-comprar, .btn-adicionar {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-comprar {
    background-color: #ddd;
    color: #666;
}

.btn-adicionar {
    background-color: #007bff;
    color: #fff;
}

.btn-comprar:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: not-allowed;
}

.btn-comprar:hover, .btn-adicionar:hover {
    filter: brightness(90%);
}

.app-carrossel img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}