<app-header></app-header>

<section id="details">
    <div class="box">
    <!-- Adicione a div para a notificação -->
    <div *ngIf="showNotification" class="notification">
        Produto adicionado ao carrinho!
    </div>
    <div *ngIf="product" class="details-products">
        <!-- Carrossel de Imagens -->
        <div class="gallery">
            <div class="gallery">
                <img *ngFor="let image of product.images" [src]="image" alt="Product Image">
              </div>
          </div>
        <app-carrossel
        [imagens]="product.images ? product.images : []"
        ></app-carrossel>
        <div class="detalhes">
            <h2>{{ product.name }}</h2>
            <p>Descrição: {{ product.description }}</p>
            <p>Preço: {{ product.price | currency:'BRL' }}</p>
            <p>Avaliação: {{ getStarRating() }}</p>
            <div class="buttons-container">
                <button class="btn-comprar" (click)="comprar()">Comprar</button>
                <button class="btn-adicionar" (click)="adicionarAoCarrinho()">Adicionar ao Carrinho</button>
            </div>
        </div>
    </div>
</div>
</section>