
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$PetMatchStore-primary: mat.define-palette(mat.$indigo-palette);
$PetMatchStore-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$PetMatchStore-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$PetMatchStore-theme: mat.define-light-theme((
  color: (
    primary: $PetMatchStore-primary,
    accent: $PetMatchStore-accent,
    warn: $PetMatchStore-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($PetMatchStore-theme);


body {
    background-color: #ececec !important;
    margin: 0;
    //overflow: hidden;
}

/*-----------------------------------------------
Font default
-----------------------------------------------*/
$font-family-regular: "Montsearrat-regular";
$font-family-bold: "Montsearrat-bold";

/*-----------------------------------------------
Color Palettes
-----------------------------------------------*/
:root {
  --primary-background:  #48c3c5;
  --secondary-background: #ffde59;
  --terciary-background: #DCEAEE;
  --footer-background: #424242;
  --header-background: #ffde59;
  --second_footer: #030101;
  --background-page: #ffffff;
  --title: #424242;
  --subtitle: #8d8d8d;
  --card: #ffffff;
  --inactive: #d3d3d3;
  --filter-background: #f8f8f8;
}

/*-----------------------------------------------
Color Editable
-----------------------------------------------*/
$primary: var(--primary-background);
$secondary: var(--secondary-background);
$terciary: var(--terciary-background);
$button: var(--buttom-background);
$footer: var(--footer-background);
$header: var(--header-background);
$second_footer: var(--second_footer);
$background-page: var(--background-page);
$card: var(--card);
$title: var(--title);
$subtitle: var(--subtitle);
$inactive: var(--inactive);
$filter-background: var(--filter-background);
/*-----------------------------------------------
Color Default
-----------------------------------------------*/
$background-contact: #424242;
$placeholder: #8d8d8d;
$input-color: #424242;
$input-background: #ececec;
$dark: #000000;
$light: #ffffff;
$blue: #059bff;
$green: #22cece;
$red: #ff3d67;
$orange: #ff9124;
$trans: transparent;
$success: #0ed430;
$error: #ff0000;

/*-----------------------------------------------
Arrays
-----------------------------------------------*/
$colors: (
  'primary' $primary, 'secondary' $secondary,
  'dark' $dark, 'light' $light,
  'title' $title, 'subtitle' $subtitle,
  'inactive' $inactive, 'trans' $trans
  'blue' $blue, 'green' $green, 'red' $red, 'orange' $orange,
  'success' $success, 'error' $error, 'input-color' $input-color,
  'input-background' $input-background
);

$text-align: (left, right, center, justify);
$text-transform: (lowercase, uppercase, capitalize);

/*-----------------------------------------------
Breakpoints
-----------------------------------------------*/
$breakpoints: (
  phone-upper-boundary: 768px,
  tablet-portrait-upper-boundary: 1024px,
  tablet-landscape-upper-boundary: 1200px,
  desktop-small-boundary: 1400px,
  desktop-medium-boundary: 1920px,
  desktop-upper-boundary: 2560px
);

.test{
  margin-top: -1rem!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
