@import '../../../assets/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $terciary;
    box-shadow: 0 4px 8px 0 #48c3c5, 0 6px 20px 0 rgba(72, 195, 197, 0.19) !important;
    border-radius: 5px;
    padding: 30px;

    .container-title{
        font-family: Montserrat;
        font-weight: 900;
        color: $light;
        text-align: center;
        min-height: 60px;
        display: flex;
        align-items: center;
        h1{
            padding-top: 40px;
            padding-bottom: 20px;
            color: $primary;
            font-size: 40px;
            font-weight: 900;
            text-transform: uppercase;
            }
    }

    
        .container-itens{
            display: flex;
            flex-direction: column;
            width: 100%;
        .produtos, .usuarios{
            width: 100%;
            background-color: $primary;
            border: none;
            text-decoration: none;
            cursor: pointer;
            min-height: 60px;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            //font-family: Montserrat;
            font-weight: 400;
            color: $light;
            font-size: 18px;
            text-transform: uppercase, bold;
            margin-bottom: 20px;
        }
        }
    
}